

ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding-inline-start: 0px;
    /* flex-wrap: wrap; */
}

li {
    text-align: center;
    margin-right: 10%;
}

a {
    width: 39px;
    height: 39px;
    border: 2px solid black;
    border-radius: 15%;
    padding: 20%;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
}

a:focus {
    color: brown;
    background-color: bisque;
}

.models {
    display: none;
}

.iphone-ref:focus~.models {
    display: flex;
    margin-top: 120px;
}

.samsung-ref:focus~.models {
    display: flex;
    margin-top: 120px;
}

.xiaomi-ref:focus~.models {
    display: flex;
    margin-top: 120px;
}

.honor-ref:focus~.models {
    display: flex;
    margin-top: 120px;
}